[data-cid="n35"]::before{content:"";display:block;position:absolute;top:0px;right:0px;bottom:0px;left:0px;background-image:linear-gradient(rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-cid="n35"]::before{}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-cid="n35"]::before{}
}
@media (min-width: 1601px) {
[data-cid="n35"]::before{}
}
[data-cid="n321"]::before{content:"";display:block;position:absolute;top:0px;right:0px;bottom:0px;left:0px;background-image:linear-gradient(rgba(0, 0, 0, 0) -2.53%, rgba(0, 0, 0, 0) 75.72%, rgb(0, 0, 0))}
@media (max-width: 571px) {
[data-cid="n321"]::before{}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-cid="n321"]::before{}
}
@media (min-width: 1601px) {
[data-cid="n321"]::before{}
}
[data-cid="n376"]::before{content:"";display:block;position:absolute;top:0px;right:0px;bottom:0px;left:0px;background-image:linear-gradient(rgba(0, 0, 0, 0) -2.53%, rgba(0, 0, 0, 0) 75.72%, rgb(0, 0, 0) 101.8%)}
@media (max-width: 571px) {
[data-cid="n376"]::before{}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-cid="n376"]::before{}
}
@media (min-width: 1601px) {
[data-cid="n376"]::before{}
}
[data-cid="n507"]{background-image:radial-gradient(circle, rgba(0, 0, 0, 0) 41.6667px, rgb(50, 50, 50) 41.6667px, rgb(50, 50, 50) 42.6667px, rgba(0, 0, 0, 0) 42.6667px), linear-gradient(rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px)}
@media (max-width: 571px) {
[data-cid="n507"]{background-image:radial-gradient(circle, rgba(0, 0, 0, 0) 45.875px, rgb(50, 50, 50) 45.875px, rgb(50, 50, 50) 46.875px, rgba(0, 0, 0, 0) 46.875px), linear-gradient(rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px)}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-cid="n507"]{background-image:radial-gradient(circle, rgba(0, 0, 0, 0) 95px, rgb(50, 50, 50) 95px, rgb(50, 50, 50) 96px, rgba(0, 0, 0, 0) 96px), linear-gradient(rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px)}
}
@media (min-width: 1601px) {
[data-cid="n507"]{background-image:radial-gradient(circle, rgba(0, 0, 0, 0) 63px, rgb(50, 50, 50) 63px, rgb(50, 50, 50) 64px, rgba(0, 0, 0, 0) 64px), linear-gradient(rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgb(50, 50, 50) 1px, rgba(0, 0, 0, 0) 1px)}
}
[data-cid="n507"]::after{content:"";display:block;position:absolute;top:0px;right:0px;bottom:0px;left:0px;background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(32, 32, 32, 0.8))}
@media (max-width: 571px) {
[data-cid="n507"]::after{}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-cid="n507"]::after{}
}
@media (min-width: 1601px) {
[data-cid="n507"]::after{}
}